{% extends "base.html" %}
{% block title %} Войти {% endblock %}
{% block content %}

{% load user_filters %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>

    <div class="form-container">

        <form class="form" method="post" action="{% url 'login' %}">

            {% csrf_token %}

            {% for field in form %}

                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:"form__input" }}
                        {% if form.errors %}
                            {% for error in field.errors %}
                                <span class="form__error">{{ error|escape }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
            </div>


        </form>
    </div>


</main>

{% endblock %}



