{% extends "base.html" %}
{% block title %}Изменить пароль{% endblock %}

{% load add_class %}
{% block content %}
{% if validlink %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Назначить новый пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.new_password1.id_for_label }}" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    {{ form.new_password1|addclass:"form__input" }}
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной
                        информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    <span class="form__error">{{ form.new_password1.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.new_password2.id_for_label }}" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    {{ form.new_password2|addclass:"form__input" }}
                    <span class="form__error">{{ form.new_password2.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Назначить пароль</button>
            </div>
        </form>
    </div>
{% else %}
    <link rel="stylesheet" href="{% url 'index' %}">
    <div class="custom-center-block">
        <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
        <div class="custom-button-block">
            <a href="/" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
{% endif %}
</main>


