<!doctype html>
{% load static %}
{% csrf_token %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">


    {% block static %}

    {% endblock %}

{% csrf_token %}
</head>

<body class="body">


    {% include 'nav.html'%}

    {% block content %}
            Контент
    {% endblock %}

    {% include 'paginator.html'%}


    {% include 'footer.html'%}

    {% block java-script %}

    {% endblock %}

</body>
</html>
