{% extends "base.html" %}
{% block title %} Создать рецепт {% endblock %}

{% block static %}
{% load static %}
{% load user_filters %}
{% csrf_token %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
<main class="main container">
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                {% csrf_token %}
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="name" class="form__input"
                    value="{{recipe.name}}">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                {% csrf_token %}
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="form__field-group">
                    <div class="tags">
                        {% for tag in tags %}
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="{{ tag.id }}" id="id_{{ tag.slug }}"
                                class="tags__checkbox tags__checkbox_style_{{ tag.style }}"
                                {% if tag in tags_list %} checked {% endif %}>

                            <label for="id_{{ tag.slug }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tags.errors|striptags }}</span>
                </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                {% csrf_token %}
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>

                    <div class="form__field-group-ingredientes-container">
                        <div class="form__field-item-ingredient" id="ing_3">
                            <span> Оливки 10шт.</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_3" name="nameIngredient_3" type="hidden" value="Оливки">
                            <input id="valueIngredient_3" name="valueIngredient_3" type="hidden" value="10">
                            <input id="unitsIngredient_3" name="unitsIngredient_3" type="hidden" value="шт.">
                        </div>
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                {% csrf_token %}
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="time" class="form__input"
                    value="{{recipe.time}}">
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                {% csrf_token %}
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8"
                        class="form__textarea">{{recipe.description|striptags|safe}}</textarea>
                    <span class="form__error">{{ form.description.errors|striptags }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {% csrf_token %}
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="file" id="id_file">
                    <span class="form__error"></span>
                </div>
            </div>
            {% if recipe.image != Null %}
            <div class="form__group">
                <span class="form__label">Текущее</span>
                <div class="form__field-group">
                    <img src="/media/{{ recipe.image }}" alt="" style="width:100px;">
                </div>
            </div>
            {% endif %}
            <div class="form__footer">
                {% csrf_token %}
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="#" class="form__ingredient-link">Удалить</a>
            </div>

        </form>
    </div>


</main>



{% endblock %}

{% block java-script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static '/js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/pages/formRecipe.js' %}"></script>
{% endblock %}











