{% extends "base.html" %}
{%load cache%}
{% load static %}
{% block title %} Мои подписки {% endblock %}



{% block static %}
   <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
{% load v1_filters %}
    <main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for follow in follow%}
            <div class="card-user" data-author="{{follow.author.id}}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{follow.author.username}}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in request|items_follow:follow.author.id|slice:":3" %}
                    <li class="card-user__item">
                    <div class="recipe">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "72x72" as im %}
                        <img src="{{ im.url }}" class="recipe__image">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{recipe.name}}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{recipe.time}} мин.</p>
                    </div>
                </li>

                {% endfor %}
                {% if request|count_recipises:follow.author.id > 0 %}
                <li class="card-user__item">
                    <a href="{% url 'author' user_id=follow.author.id %}" class="card-user__link link">Еще
                    {{ request|count_recipises:follow.author.id }} рецептов</a>
                {% endif %}
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block java-script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/pages/myFollow.js' %}"></script>

{% endblock %}

